/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

image {
    display: block;
    width: 100%;
    height: auto;
}

input, 
button, 
textarea {
    /* These do not inherit font properties, you must explicitly enable */
    font: inherit;
}
/* /RESET */

/* VARIABLES */
:root {
    /* FONTS */
    --FONT-SIZE: 1rem;
    --FONT-FAMILY: Arial, Helvetica, sans-serif;

    /* COLORS */
    --BG-COLOR: rgb(31, 36, 46);
    --FONT-COLOR: papayawhip;
    --EXPRESS-COLOR: rgb(205, 104, 0);
    --BUTTON-COLOR: rgb(205, 104, 0);
    --BUTTON-FONT-COLOR: rgb(31, 36, 46);
    --BG-COLOR-TRANS: rgba(31, 36, 46, 0.95);
    --BORDER-COLOR-GENERAL: papayawhip;

    /* BACKGROUNDS */
    --HOME-BG-IMAGE: url(../images/koi.png);

    /* PADDING */
    --PADDING-HEADER-TOPBOT: 1em;
    --PADDING-HEADER-SIDES: 0.5em;
    --PADDING-TOPBOT: 0.5em;
    --PADDING-SIDES: 0.25em;
    --PADDING-CONTENT-SIDES: 0.5em;

    /* MARGIN */
    --MARGIN-TOPBOT: 0.5em;
    --MARGIN-SIDES: 0.25em;

    /* BORDERS */
    --SEARCH-BORDER-RAD: 10px;
    --PROFILE-PIC-BORDER-RAD: 50%;
    --GENERAL-BORDER: 1px solid 
}
/* /VARIABLES */

/* UTILITY */
.offscreen {
    position: absolute;
    top: -10000px;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.cursor_pointer {
    cursor: pointer;
}

.content_padding-sides {
    padding: 0 var(--PADDING-CONTENT-SIDES);
}

.content_margin-topbot {
    margin: var(--MARGIN-TOPBOT) 0;
}

.abbr_no_underline {
    /* Chrome */
    border-bottom: none;
    /* Firefox */
    text-decoration: none;
}
/* /UTILITY */

/* GENERAL */
.index-html,
.profile-html {
    scroll-behavior: smooth;
    font-size: var(--FONT-SIZE);
    font-family: var(--FONT-FAMILY);
    color: var(--FONT-COLOR);
    background-color: var(--BG-COLOR);
    background-image: var(--HOME-BG-IMAGE);
    background-position: 50% 0;
}

.index-body,
.profile-body {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.index-body {
    align-items: center;
    justify-content: center;
}

.index-main {
    width: 100%;
}
/* /GENERAL */

/* INDEX: Home search */
.index-main {
    display: flex;
    flex-flow: column nowrap;
}

.home-search {
    display: flex;
    flex-flow: column nowrap;
}

.search-form {
    display: flex;
    flex-flow: column nowrap;
}

.search-form__label,
.search-form__input,
.search-form-bar,
.search-form__button {
    padding: var(--PADDING-TOPBOT) var(--PADDING-SIDES);
    font-weight: bold;
}

.search-form-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.search-form__input {
    border-top-left-radius: var(--SEARCH-BORDER-RAD);
    border-bottom-left-radius: var(--SEARCH-BORDER-RAD);
    border-color: var(--BORDER-COLOR-GENERAL);
    width: 80%;
    padding-left: 25px;
}

.search-form__button {
    border-top-right-radius: var(--SEARCH-BORDER-RAD);
    border-bottom-right-radius: var(--SEARCH-BORDER-RAD);
    border-style: inset;
    border-left-style: none;
    border-color: var(--BORDER-COLOR-GENERAL);
    background-color: var(--BUTTON-COLOR);
    color: var(--BUTTON-FONT-COLOR);
}
/* /INDEX: Home search */

/* PROFILE Header */
.profile-header {
    padding: var(--PADDING-HEADER-TOPBOT) var(--PADDING-HEADER-SIDES);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
/* /PROFILE Header */

/* PROFILE content */
.profile-main__section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile-content__personal {
    /* border: 1px solid green; */
    flex: 2 3;
    border-bottom: 1px solid var(--EXPRESS-COLOR);
}

.profile-content__repos {
    /* border: 1px solid blue; */
    flex: 3 2;
}

.profile-content__personal,
.personal__pic,
.personal__names,
.personal__desc,
.personal__locations,
.locations__ul,
.personal__socials,
.socials__ul,
.profile-content__repos,
.repos__ul {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

.locations__ul,
.socials__ul {
    list-style-type: none;
    margin: var(--MARGIN-TOPBOT) 0;
}

.names__name {
    color: var(--EXPRESS-COLOR);
}

.personal__follow {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.personal__pic,
.personal__names,
.personal__desc,
.personal__follow {
    padding: 0 var(--PADDING-CONTENT-SIDES);
    margin: var(--MARGIN-TOPBOT) 0;
}

.personal__pic img {
    border-radius: var(--PROFILE-PIC-BORDER-RAD);
}

.personal__desc__text {
    color: var(--FONT-COLOR);
    background-color: var(--BG-COLOR-TRANS);
    border: none;
    box-shadow: 0px 0px 5px 1px var(--BORDER-COLOR-GENERAL);
    padding: var(--PADDING-TOPBOT) var(--PADDING-CONTENT-SIDES);
}
/* /PROFILE content */

/* REPOS content */
.profile-content__repos {
    display: flex;
    flex-flow: column nowrap;
}

.repos__h2 {
    color: var(--FONT-COLOR);
}

.repos__h2,
.repos__ul {
    padding: 0 var(--PADDING-CONTENT-SIDES);
    margin: var(--MARGIN-TOPBOT) 0;
}

.repos__li {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: var(--GENERAL-BORDER);
    background-color: var(--BG-COLOR-TRANS);
    margin: var(--MARGIN-TOPBOT) 0;
}

.repos__artie {
    display: flex;
    flex-flow: column nowrap;
}

.repos__artie,
.repartie__title_info,
.repartie__desc,
.repartie__supp_info {
    padding: var(--PADDING-TOPBOT) var(--PADDING-CONTENT-SIDES);
}

.repartie__title_info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.repartie__h3 {
    color: var(--EXPRESS-COLOR);
    padding-right: var(--PADDING-CONTENT-SIDES);
}

.repartie__visibility {
    padding: 0 var(--PADDING-CONTENT-SIDES);
    border: var(--GENERAL-BORDER);
    border-radius: var(--SEARCH-BORDER-RAD);
}

.repartie__supp_info {
    display: flex;
    flex-flow: row wrap;
}

.main_lang {
    padding-right: var(--PADDING-CONTENT-SIDES);
}

.last_update {
    padding-left: var(--PADDING-CONTENT-SIDES);
}
/* /REPOS content */

/* Media queries */
@media screen and (min-width: 500px) {
    
    .profile-main__section {
        flex-flow: row nowrap;
    }

    .profile-content__personal {
        border: none;
    }
    
}
/* /Media queries */