.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.header__h1__div {
    width: 50%;
    background-color: rgb(98, 174, 204);
    height: 0.25rem;
    margin: 0 auto;
}