/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: auto;
    height: auto;
}
/* /RESET */

/* UTILITY */
.offscreen {
    position: absolute;
    left: -9001px;
}

.cursor_pointer {
    cursor: pointer;
}

.cursor_def {
    cursor: default;
}

.fade_in {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.fade_out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.max_100vh {
    /* max-height: 100vh;
    overflow: hidden; */
    animation: 0s ease-in-out 0.5s 1 normal forwards height100vh;
}

.transition_left {
    transition: left 0.5s ease-in-out;
}
/* /UTILITY */

/* VARIABLES */
:root {
    /* COLORS */
    --FONT-COLOR: white;
    --BG-COLOR: #E0FBFC;
    --HEADER-COLOR-LEFT: #3D5A80;
    --HEADER-COLOR-RIGHT: #293241;
    --SB-HEADER-FONT-COLOR: #98C1D9;
    --BUTTON-COLOR: #E0FBFC;
    --ACCENT-COLOR: #EE6C4D;

    /* DIMENSIONS */
    --NAV-HEIGHT: 4rem;

}
/* /VARIABLES */

/* ANIMATIONS */
@keyframes height100vh {
    0% {
    }
    100% {
        max-height: 100vh;
        overflow: hidden;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* /ANIMATIONS */

/* GENERAL */
html {
    font-size: 1.25rem;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: var(--FONT-COLOR);
    background-color: var(--BG-COLOR);
    display: flex;
}

#root {
    flex-grow: 1;
    min-height: 100%;
}

.App {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* /GENERAL */

/* Logo */
.logo {
    transition: filter 0.5s ease-in-out;
}
:is(.logo:hover, .logo:focus) {
    filter: saturate(3);
}
/* /Logo */

/* header */
.header {
    width: 100%;
    background-color: var(--HEADER-COLOR-LEFT);
    background-image: linear-gradient(to bottom right, var(--HEADER-COLOR-LEFT), var(--HEADER-COLOR-RIGHT));
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--NAV-HEIGHT);
}

.side-nav {
    width: 40px;
    height: 30px;
}

.top-nav__sb-btn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--BUTTON-COLOR);
    border-radius: 20px;
    transition: background-color 0.5s ease-in-out;
}

:is(.top-nav__sb-btn:hover, .top-nav__sb-btn:focus) {
    background-color: var(--ACCENT-COLOR);
}

.header__signin {
    display: none;
}
/* /header */

/* top-nav */
.top-nav {
    display: none;
    flex-grow: 1;
    height: 100%;
}

.top-nav__ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.top-nav__ul li {
    height: 100%;
}

.TopNavItem__btn {
    padding: 0 1.5rem;
    height: 100%;
    text-transform: capitalize;
    transition: color 0.5s ease-in-out;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--FONT-COLOR);
    font-size: 1rem;
}

:is(.TopNavItem__btn:hover, .TopNavItem__btn:focus) {
    color: var(--ACCENT-COLOR);
}
/* top-nav */

/* Submenu */
.Submenu {
    /* padding: 0 0.5rem 0.5rem 0.5rem; */
    padding: 0.5rem 1rem;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--HEADER-COLOR-LEFT);
    border-radius: 10px;
    transform: translate(-50%, 0);
    display: none;
    /* opacity: 0; */
    /* transition: opacity 0.5s ease-in-out; */
}

.Submenu::before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--HEADER-COLOR-LEFT);

    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.Submenu_content {
    
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

}

.Submenu_show {
    display: block;
    z-index: 10;
    /* opacity: 1; */
    /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation: 0.5s ease-in-out 0s 1 normal forwards fadein;
}

.Submenu__h3 {
    text-transform: capitalize;
    color: var(--SB-HEADER-FONT-COLOR)
}

.Submenu__ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.subItems__li {
    list-style: none;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

.subItems__li a {
    text-decoration: none;
    color: var(--FONT-COLOR);
    display: flex;
    gap: 1rem;
    transition: color 0.5s ease-in-out;
}

.subItems__li :is(a:hover, a:focus) {
    color: var(--ACCENT-COLOR);
}
/* /Submenu */

/* SideNav */
.SideNav {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    /* absolute with the initial boundary (which is the browser) */
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--BG-COLOR);
    background-image: linear-gradient(to bottom right, var(--HEADER-COLOR-LEFT), var(--HEADER-COLOR-RIGHT));
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.SideNav__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sb_header__btn {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--BUTTON-COLOR);
    border-radius: 20px;
    transition: background-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

:is(.sb_header__btn:hover, .sb_header__btn:focus){
    background-color: var(--ACCENT-COLOR);
}

.SideNav__links {
    flex-grow: 1;
    margin: 1rem 0;
    width: 100%;
}

.category {
    margin: 1rem 0;
}

.sb_list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.sb_list__li {
    list-style-type: none;
    margin: 1rem 0;
    flex-basis: 50%;    
}

.category__h2 {
    color: var(--SB-HEADER-FONT-COLOR);
    text-transform: capitalize;
}

.sb_list__li a {
    text-decoration: none;
    color: var(--BUTTON-COLOR);
    transition: color 0.5s ease-in-out;
}

.sb_list__li a:hover {
    color: var(--ACCENT-COLOR);
}
/*  */

.SideNav__sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in__btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: var(--BUTTON-COLOR);
    background-image: linear-gradient(to right, var(--BUTTON-COLOR), var(--ACCENT-COLOR));
    transition: background-color 0.5s ease-in-out, background-image 0.5s ease-in-out;
    font-size: 0.9rem;
}

:is(.sign-in__btn:hover, .sign-in__btn:focus) {
    background-color: var(--ACCENT-COLOR);
    background-image: none
}

.SideNav_show {
    opacity: 1;
    z-index: 1;
}
/* /SideNav */

/* Body */
.Body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: black;
}
/* /Body */

/* HERO */
.Hero {
    width: 100%;
    min-height: calc(100vh - var(--NAV-HEIGHT));
    background-color: firebrick;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
/* /HERO */

/* MEDIA QUERY */
@media screen and (min-width: 600px) {
    .sb_list__li {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 769px) {
    /* when at this side, complete remove the side nav */
    .SideNav, .header__side-nav {
        display: none;
    }

    .top-nav {
        display: flex;
    }

    .header__signin {
        display: block;
    }

}
/* /MEDIA QUERY */