/* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  display: block;
}
/* /RESET */

/* UTILITY */
.offscreen {
  position: absolute;
  left: -9001px;
}

.cursor_pointer {
  cursor: pointer;
}
/* /UTILITY */

/* VARIABLES */
:root {
  /* COLORS */
  --HEADER-BG-COLOR: #3D5A80;
  --HEADER-FONT-COLOR: white;
  --BODY-BG-COLOR: #E0FBFC;
  --CART-BG-COLOR: #98C1D9;
  --BODY-FONT-COLOR: black;
  --ACCENT-COLOR: #EE6C4D;
  --HEADER-HOVER-COLOR: #98C1D9;
  --ACCENT-BUTTON-HOVER-COLOR: rgba(238, 108, 77, 80%);
  --BTN-COLOR: #3D5A80;
  --BTN-HOVER-COLOR: #98C1D9;
  --ITEM-TITLE-COLOR: #293241;
  --ITEM-PRICE-COLOR: #3D5A80;
  --DARK-COLOR: #293241;

  /* FONTS */
  --FONT-SIZE: 1.25rem;

  /* DIMENSIONS */
  --MAX-WIDTH: 600px;

  /* MARGINS */
  --CART-MARGINS-TB: 1.25rem 0rem;
  --CART-ITEMS-MARGINS-TB: 1rem 0rem;

}
/* /VARIABLES */

/* GENERAL */
html {
  font-size: var(--FONT-SIZE);
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--BODY-BG-COLOR);
  color: var(--BODY-FONT-COLOR);
  display: flex;
}

#root {
  flex-grow: 1;
  min-height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}
/* /GENERAL */

/* HEADER */
.header {
  width: 100%;
  background-color: var(--HEADER-BG-COLOR);
  color: var(--HEADER-FONT-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__section {
  width: 100%;
  max-width: var(--MAX-WIDTH);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

.cart_img {
  position: relative;
  /* background-color: red; */
}

.numItems {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0px;
  font-size: 0.75rem;
  z-index: 1;
  background-color: var(--ACCENT-COLOR);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cart_img__svg {
  width: 40px;
  height: 40px;
}
/* /HEADER */

/* LOADING */
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bolder;
}
/* /LOADING */

/* EMPTY CART */
.empty_cart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bolder;
}
/* /EMPTY CART */

/* CART */
.cart {
  width: 100%;
  max-width: var(--MAX-WIDTH);
  display: flex;
  flex-flow: column nowrap;
  padding: 0.25rem 0.5rem;
}

.cart__h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--CART-MARGINS-TB);
}
/* /CART */

/* CART ITEMS */
.cartItems {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
/* /CART ITEMS */

/* ITEMS */
.item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: var(--CART-ITEMS-MARGINS-TB);
}

.itemImg__img {
  width: 95px;
  height: 95px;
}

.itemInfo {
  flex-grow: 1;
  min-height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.itemTitle {
  color: var(--ITEM-TITLE-COLOR);
  font-weight: bolder;
}

.itemPrice {
  color: var(--ITEM-PRICE-COLOR);
  font-weight: bold;
}

.itemInfo__btn_remove {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: var(--ACCENT-COLOR);
  border-radius: 10px;
}

:is(.itemInfo__btn_remove:hover, .itemInfo__btn_remove:focus) {
  background-color: var(--ACCENT-BUTTON-HOVER-COLOR);
}

.amt {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.chev_up,
.chev_down {
  color: var(--BTN-COLOR);
}

:is(.chev_up:hover, .chev_up:focus, .chev_down:hover, .chev_down:focus) {
  color: var(--BTN-HOVER-COLOR);
}
/* /ITEMS */

/* CART TOTAL */
.cartTotal {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: var(--CART-MARGINS-TB);
}

.cartTotal__div {
  width: 100%;
  border-bottom: 2px solid var(--DARK-COLOR);
}

.cartTotal__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--CART-MARGINS-TB);
}

.cartTotal__section_p {
  color: var(--DARK-COLOR);
  font-weight: bolder;
}

.cartTotal__section_price {
  color: var(--ITEM-PRICE-COLOR);
  font-weight: bold;
}
/* /CART TOTAL */

/* CART OPS */
.cartOps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--CART-MARGINS-TB);
  gap: 1rem;
}

.cartOps__btn_refetch,
.cartOps__btn_reset {
  padding: 0.25rem 0.5rem;
  border: 1px solid red;
  color: red;
  border-radius: 10px;
}

:is(.cartOps__btn_refetch:hover, .cartOps__btn_refetch:focus, .cartOps__btn_reset:hover, .cartOps__btn_reset:focus) {
  background-color: papayawhip;
}
/* /CART OPS */