/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input, 
button, 
textarea {
    /* These do not inherit font properties, you must explicitly enable */
    font: inherit;
}
/* /RESET */

/* VARIABLES */
:root {
    /* FONTS */
    --FS-SMALL: 1rem;
    --FS-LARGE: clamp(1rem, 10vw, 1.5rem);
    --FF: Arial, Helvetica, sans-serif;
    --FF-HEADINGS: sans-serif, Helvetica;
    --FS-HEADING-SMALL: 1rem;
    --FS-HEADING-LARGE: clamp(1rem, 10vw, 1.1rem);
    --FS-HERO-H1-SMALL: 3rem;
    --FS-HERO-H1-LARGE: clamp(3rem, 15vw, 6rem);
    --FS-ARTICLE-H1-SMALL: 2rem;
    --FS-ARTICLE-H1-LARGE: clamp(2rem, 10vw, 4rem);
    --FS-FOOTER-SMALL: 1rem;
    --FS-FOOTER-LARGE: clamp(1rem, 10vw, 1.1rem);

    /* COLORS */
    --BGCOLOR: rgb(23, 23, 23);
    --FONT-COLOR: whitesmoke;
    --FONT-COLOR-DULL: rgba(245, 245, 245, 75%);
    --FONT-COLOR-NOT-ACTIVE: rgba(245, 245, 245, 50%);
    --FONT-COLOR-ACTIVE: whitesmoke;
    --BODY-BGCOLOR: rgb(23, 23, 23);
    --ARTIE-TAG-BGCOLOR: rgb(63, 63, 63);
    --TAG-BGCOLOR: rgb(44, 44, 44);

    /* BORDER */
    --BORDER-ARTIE-TAG: 0px solid var(--ARTIE-TAG-BGCOLOR);
    --BORDER-RADIUS-ARTIE-TAG: 25px;
    --BORDER-TAG: 0px solid var(--ARTIE-TAG-BGCOLOR);
    --BORDER-RADIUS-TAG: 10px;

    /* STANDARD PADDING */
    --PADDING-TOPBOT: 0.5em;
    --PADDING-SIDE: 2.5%;
    --PADDING-TAG-SIDE: 0.5em;

    /* STANDARD MARGIN */
    --MARGIN: 0.5em 0;
    --MARGIN-LARGE: 1em 0;
}
/* /VARIABLES */

@media (prefers-color-scheme: dark) {
}

/* UTILITY */
.offscreen {
    position: absolute;
    top: -1000px;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.left {
    float: left;
    margin-right: 1em;
}

.right {
    float: right;
    margin-left: 1rem;
}
/* /UTILITY */

/* GENERAL STYLES */
html {
    background-color: var(--BGCOLOR);
    scroll-behavior: smooth;
    font-size: var(--FS-SMALL);
    font-family: var(--FF);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.01em;
}

p {
    line-height: 2;
}

li {
    list-style: none;
}

a {
    color: var(--FONT-COLOR-NOT-ACTIVE);
    text-decoration: none;
}

a:active,
a:hover {
    color: var(--FONT-COLOR-ACTIVE);
}

a:visited {
    color: var(--FONT-COLOR-NOT-ACTIVE);
}
/* /GENERAL STYLES */

/* HEADER */
.header {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    font-size: var(--FS-HEADING-SMALL);
    margin: var(--MARGIN-LARGE);
    padding: var(--PADDING-TOPBOT) var(--PADDING-SIDE);
}

.header__button {
    background-color: transparent;
    border: none;
    color: var(--FONT-COLOR-NOT-ACTIVE);
}

:is(.header__button:hover) .header__button-nav-icon {
    color: var(--FONT-COLOR-ACTIVE);
    cursor: pointer;
}

.header__ul {
    display: flex;
    flex: row nowrap;
    justify-content: space-evenly;
    gap: 1em;
}
/* /HEADER */

/* HERO */
.hero {
    padding: var(--PADDING-TOPBOT) var(--PADDING-SIDE);
    margin: var(--MARGIN);
}

.hero__h1 {
    font-size: var(--FS-HERO-H1-SMALL);
}

.hero__p {
    color: var(--FONT-COLOR-DULL);
}
/* /HERO */

/* MAIN */
.main {
    padding: var(--PADDING-TOPBOT) var(--PADDING-SIDE);
    margin: var(--MARGIN);
}

.main__section {
    margin: var(--MARGIN);
    padding: var(--PADDING-TOPBOT) 0;
}

.main__section:last-child {
    min-height: calc(100vh - 35rem);
}
/* /MAIN */

/* artie_links */
.artie_links__ul {
    display: flex;
    flex-flow: column nowrap;
}

.artie_links__ul li {
    border-bottom: 1px solid;
    color: var(--FONT-COLOR-DULL);
    padding: var(--PADDING-TOPBOT) 0;
    line-height: 1.5;
}

.artie_links__ul li a{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.artie_links__title {
    color: var(--FONT-COLOR);
}
/* /artie_links */

/* artie */
.main__article {
    display: flex;
    flex-flow: column nowrap;
}

.artie__div {
    margin: var(--MARGIN);
}

.artie_tags__ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    border: var(--BORDER-ARTIE-TAG);
}

.artie_tags__ul li {
    padding: var(--PADDING-TOPBOT) 0;
    background-color: var(--ARTIE-TAG-BGCOLOR);
    border-radius: var(--BORDER-RADIUS-ARTIE-TAG);
}

.artie_tags__ul li a {
    width: 100%;
    height: 100%;
    /* padding for li and a is neccesary. To ensure a matches li size, adjust padding. */
    padding: var(--PADDING-TOPBOT) var(--PADDING-TAG-SIDE);
}

.artie__div {
    margin: var(--MARGIN);
}

.artie_head__h1 {
    font-size: var(--FS-ARTICLE-H1-SMALL);
}

.artie_head__p {
    color: var(--FONT-COLOR-DULL);
}

.artie__p {
    margin: var(--MARGIN);
}

.artie__img {
    width: 100%;
    height: auto;
}
/* /artie */

/* tags */
.tags__h2,
.tips__h2 {
    margin: var(--MARGIN);
}

.tags__ul,
.tips__ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

:is(.tags__ul, .tips__ul) :is(li:hover, li:focus) {
    cursor: pointer;
}
:is(.tags__ul, .tips__ul) :is(li:hover, li:focus) a {
    color: var(--FONT-COLOR-ACTIVE);
}

:is(.tags__ul, .tips__ul) li {
    display: flex;
    flex-flow: row nowrap;
    border: var(--BORDER-TAG);
    border-radius: var(--BORDER-RADIUS-TAG);
    background-color: var(--TAG-BGCOLOR);
}

:is(.tags__ul, .tips__ul) li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: var(--PADDING-TOPBOT) var(--PADDING-TAG-SIDE);
}

/* .tags__title,
.tags__num,
.tips__title {
    padding: 0 var(--PADDING-SIDE);
} */

.tags__title,
.tips__title {
    color: var(--FONT-COLOR-ACTIVE);
}
/* /tags */

/* FOOTER */
.footer {
    text-align: center;
    color: var(--FONT-COLOR-DULL);
    margin: var(--MARGIN-LARGE);
    font-size: var(--FS-FOOTER-SMALL);
}
/* /FOOTER */

/* MEDIA QUERIES */
@media screen and (min-width: 376px) {
    html {
        font-size: var(--FS-LARGE);
    }

    .header {
        font-size: var(--FS-HEADING-LARGE);
    }

    .hero__h1 {
        font-size: var(--FS-HERO-H1-LARGE);
    }

    .artie_head__h1 {
        font-size: var(--FS-ARTICLE-H1-LARGE);
    }

    .artie_links__ul li a{
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .tags__ul,
    .tips__ul {
        flex-flow: row wrap;
    }

    .main__section:last-child {
        min-height: calc(100vh - 30rem);
    }

    .footer {
        font-size: var(--FS-FOOTER-LARGE);
    }
}
/* /MEDIA QUERIES */